@model IEnumerable<wapp.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>List of clients</h1>

<p>
    <div class="d-inline-flex gap-2">

        <a asp-action="Create" class="btn btn-primary btn-createnew">Create New</a>
        <a class="btn btn-secondary btn-search" onclick="toggleSearch();" id="btnShowSearch">Show Search</a>

    </div>

   
</p>

<div class="feature-icon d-inline-flex align-items-center justify-content-center fs-5 mb-3" >

    <form asp-action="Index" method="get" id="searchArea">
        <div class="form-group">
            <label for="searchName">Customer Name:</label>
            <input type="text" name="searchName" class="form-control" />

            <label for="searchVat">VAT Number:</label>
            <input type="text" name="searchNIF" class="form-control" />

            <input type="submit" value="Search" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Clear</a>
        </div>
    </form>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientNumber)
            </td>
            <td>
                    <div class="d-inline-flex gap-2">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-edit">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-details">Details</a> 
                        <a asp-controller="sales" asp-action="index" asp-route-clientId="@item.Id" class="btn btn-primary btn-sales">Sales</a>                        
                        <a asp-action="Saldo" asp-controller="Reporting" asp-route-IdCliente="@item.Id" class="btn btn-primary btn-balance">Balance</a>
                        <a asp-controller="Encomendar" asp-action="selectproductsforsale" class="btn btn-primary" asp-route-id="@item.Id">Sell</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-delete">Delete</a>
                </div>

            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        
        document.addEventListener('DOMContentLoaded', function() {
            var searchArea = document.getElementById('searchArea');
            searchArea.style.display = 'none';
        });

        function toggleSearch() {
            var searchArea = document.getElementById('searchArea');
            var btnShowSearch = document.getElementById('btnShowSearch');

            if (searchArea.style.display === 'none') {
                searchArea.style.display = 'block';
                btnShowSearch.textContent = "Hide Search";
            } else {
                searchArea.style.display = 'none';
                btnShowSearch.textContent = "Show Search";
            }
        }
    </script>
}