@model waap.ViewModels.Reporting.SaldoViewModel

@{
    ViewData["Title"] = "Reporting - Sales";
}

<h1>Consolidated values</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalSalesValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPaidValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNonPaidValue)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                @Html.DisplayFor(model => model.TotalSalesValue)
                </td>
                <td>
                @Html.DisplayFor(model => model.TotalPaidValue)
                </td>
                <td>
                @Html.DisplayFor(model => model.TotalNonPaidValue)
                </td>
            </tr>        
    </tbody>
</table>
